@use 'core' as u;

.bgImageFit {
    object-fit: cover;
}

.bgImage {
    position: absolute;
    inset: 0;
}

.bgImagePos {
    object-position: center;
}
.body {
    text-align: center;
    margin-inline: auto;
    @include u.fluid(width, null, 606, 1136, 1536);
}

.heading {
    text-wrap: balance;
    word-break: break-all;
}

.description {
    text-wrap: pretty;
    @include u.fluid(margin-bottom, 40, 40, 100, 100);
}

.button {
    margin-inline: auto;
    margin-bottom: 2em;
    @include u.fluid(margin-top, 30, 0, 0, 0);
    @include u.fluid(padding-block, 10, 10, 20, 20);
    @include u.fluid(padding-inline, 70, 60, 125, 137);
}
