.BgImage {
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: -5;
    overflow: clip;
    user-select: none;

    .main-picture,
    .loading-picture {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom right;
        transition: all 0.5s ease-in-out;
    }

    .image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom right;
    }

    .hidden {
        opacity: 0;
    }

    .loading-overlay {
        position: absolute;
        inset: 0;
        z-index: -5;
        display: flex;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        align-items: center;
        justify-content: center;
        transition: opacity 0.5s ease-in-out;

        .loading-bg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(229, 231, 235, 0.5); // Tailwind gray-200/50
            animation: pulse 2s infinite;
            display: none;
        }

        .visible {
            display: block;
        }
    }
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
