@use 'core' as u;

.outcomes-section__header {
    @include u.fluid(margin-bottom, 45, 80, 124, 84);
}

.outcomes-section__header {
    @include u.sm() {
        display: flex;
        align-items: flex-end;
        @include u.fluid(gap, null, 15, 30, 30);
    }
}

.outcomes-section__heading {
    @include u.sm() {
        margin-bottom: 0;
        @include u.fluid(width, 320, 330, 573, 597);
        flex-shrink: 0;
    }
}

.outcomes-section__description {
    @include u.sm() {
        flex: 1;
    }
}
