.outcomes-section {
}

.outcomes-section__header {
    margin-bottom: 2.75rem; /* mb-11 */
}

@media (min-width: 640px) {
    .outcomes-section__header {
        margin-bottom: 5rem; /* sm:mb-20 */
        display: flex;
        align-items: flex-end;
        gap: 1rem; /* sm:gap-4 */
    }
}

@media (min-width: 1280px) {
    .outcomes-section__header {
        margin-bottom: 5.25rem; /* xl:mb-21 */
    }
}

.outcomes-section__heading {
    @media (min-width: 640px) {
        max-width: 45%;
        flex: 1;
    }
}

.outcomes-section__description {
    @media (min-width: 640px) {
        flex: 1;
    }
}
