.intro-section__container {
    @include sm() {
        display: flex;
        align-items: flex-start;
    }
    @include fluid(gap, 16, 16, 45, 100);
}

.intro-section__media {
    margin-bottom: 2.5rem;

    @include sm() {
        flex: 1;
        margin-bottom: 0;
    }
}

.intro-section__description {
    @include fluid(margin-bottom, 30, 38, 57, 50);
}

.intro-section__image {
    position: static;
    border-radius: 3rem;

    @include fluid(width, 320, 358, 697, 908);
    @include fluid(height, 400, 244, 392, 511);
}

.intro-section__content {
    display: flex;
    align-items: flex-start;
    flex: 1;
}

.intro-section__progress-bar {
    display: flex;
    @include fluid(margin-top, 7, 8, 10, 12.5);
    @include fluid(height, 260.5, 243, 387, 400);
    @include fluid(width, 2, 2, 3, 3);
    flex-shrink: 0;
    flex-direction: column;

}

.intro-section__step-bar {
    width: 100%;
    flex: 1;
    background-color: clr('foreground');
    transition: background-color 0.3s ease;
}

.intro-section__step-bar--active {
    background-color: clr('primary');
}

.intro-section__steps-list {
    display: grid;
    @include fluid(gap, 40, 40, 80, 85);
}
