@use 'sass:math';

@function px-to-vw($current-screen-width, $size) {
    $result: math.div($size, $current-screen-width) * 100;
    $rounded: math.div(math.round($result * 100), 100);
    @return $rounded * 1vw;
}

@function round_to_decimal($value) {
    @return math.div(math.round($value * 100), 100);
}

@function rem($value_in_px, $base_font_size: 16) {
    $raw_result: math.div($value_in_px, $base_font_size);
    $rounded: round_to_decimal($raw_result);
    @return $rounded * 1rem;
}

@function calc-adaptive($size_in_px, $rel-width, $upper-limit-px) {
    $vw-value: px-to-vw($rel-width, $size_in_px);
    $size-at-limit: math.div($size_in_px, $rel-width) * $upper-limit-px;
    $size-at-limit-rem: round_to_decimal(math.div($size-at-limit, 16)) * 1rem;
    @return min($size-at-limit-rem, $vw-value);
}

