@use 'core' as u;

.checkbox__field {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.checkbox__input {
    display: block;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    cursor: pointer;
    border: 2px solid u.clr('foreground');
    border-radius: 0.375rem;
    background-color: white;
}

.checkbox__input[data-checked] {
    background-color: white;
}

.checkbox__icon {
    stroke: black;
    opacity: 0;
}

.checkbox__input[data-checked] .checkbox__icon {
    opacity: 1;
}

.checkbox__label {
    display: inline;
    width: 100%;
}

.checkbox__error {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.875rem;
    color: rgb(239 68 68);

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}

