@use 'core' as u;

.loader {
    position: fixed;
    inset: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 300ms ease;
}

.info {
    margin-bottom: 4rem;
    text-align: center;
    color: white;
    max-width: min(80%, 30rem);
    margin-inline: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
