@use 'core' as u;

.grid {
    display: grid;
    align-content: stretch;

    @include u.sm() {
        grid-template-columns: 1fr 1fr;
    }
    @include u.md() {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include u.fluid(column-gap, 0, 15, 30, 108);
}
