@use 'core' as u;

.grid {
    display: grid;

    @include u.sm() {
        grid-template-columns: 1fr 1fr;
    }
    @include u.md() {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include u.fluid(column-gap, 0, 15, 30, 108);
}
.scrollBtn {
    position: absolute;
    z-index: 10;
    inset: 0;
    margin: auto;
    height: fit-content;
}

.jobTitle {
    font-weight: 800;
    @include u.fluid(font-size, 18, 18, 24, 29);
    @include u.fluid(margin-bottom, 20, 20, 30, 30);
}
.jobDescription {
    @include u.fluid(font-size, 15, 15, 22, 26);
    @include u.fluid(margin-bottom, 30, 15, 50, 50);
}

.cardSection {
    @include u.fluid(font-size, 18, 18, 24, 29);
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.divider {
    @include u.fluid(margin-block, 15, 15, 20, 25);
}
.cardTitle {
    flex-shrink: 0;
    @include u.fluid(font-size, 18, 18, 24, 29);
    @include u.fluid(width, 171, 233, 283, 283);
}
.cardValue {
    text-align: end;
}

.jobItemBlurred {
    filter: blur(18px);
}
.jobListItem {
    position: relative;

    &:last-child {
        @include u.md() {
            grid-column: 2;
        }
    }
}
