@use 'core' as u;

.signup {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.signup__title {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    @media (min-width: 1024px) {
        font-size: 1.875rem;
    }

    @media (min-width: 1280px) {
        font-size: 1.875rem;
    }
}

.signup__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.signup__input {
    @media (min-width: 640px) {
        font-size: 1rem;
    }
}

.signup__policy {
    margin-top: 1.5rem;
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.85rem;
    line-height: 140%;

    @media (min-width: 640px) {
        margin-top: 2rem;
    }

    @media (min-width: 768px) {
        margin-top: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.signup__policy > * + * {
    margin-top: 0.5rem;

    @media (min-width: 768px) {
        margin-top: 1rem;
    }
}

.signup__policy-checkbox {
    width: 1.75rem;
    height: 1.75rem;
}

.signup__submit {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.75rem;
    width: fit-content;
    padding-left: 4em;
    padding-right: 4em;
}

.signup__loader {
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.signup__login-prompt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    font-size: 0.875rem;
}

.signup__login-link {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.info-link {
    display: inline;
    text-decoration: underline;
    text-underline-offset: 3px;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.info-link:hover {
    color: black;
}
