@use 'core' as u;

.form-layout {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 100%;
    max-width: 90%;
    gap: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.form-layout {
    @include u.sm() {
        width: 80%;
        max-width: 100%;
        gap: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
}
