.intro-step {
    list-style: none;
}

.intro-step__title {
    color: clr('foreground');
    @include fluid(margin-bottom, 15, 15, 30, 30);
    @include fluid(font-size, 18, 18, 24, 29);
    font-weight: 600;
    line-height: 90%;
}

.intro-step__indicator {
    display: inline-block;
    position: relative;
    margin-right: 0.75rem;
    height: 0.125rem;
    @include fluid(width, 20, 20, 20, 20);
    @include fluid(height, 2, 2, 3, 3);
    margin-bottom: 0.3em;
    background-color: clr('foreground');
    transition: background-color 300ms ease-in;
}

.intro-step__indicator--active {
    background-color: clr('primary');
}

.intro-step__order {
    margin-right: 0.75rem;
}

.intro-step__description {
    @include fluid(font-size, 15, 15, 22, 26);
    @include fluid(margin-left, 71, 71, 89, 88);
}
