@use 'core' as u;

.app-layout {
    margin-inline: auto;
    max-width: u.$xl;
}
.app-layout__content {
    @include u.fluid(padding-inline, 20, 30, 36, 36);
    @include u.fluid(margin-bottom, 80, 80, 100, 120);

    > *:not(:last-child) {
        @include u.fluid(margin-bottom, 80, 80, 100, 120);
    }
}

.app-layout__toaster {
    margin-top: 4rem; // mt-16
    width: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem !important; // !text-base
}

.app-layout__dialog {
    margin-inline: auto;
    max-width: 30rem;
}
