@use 'core' as u;

.nav {
    position: absolute;
    left: 0;
    right: 0;
    @include u.fluid(top, 40, 0, 0, 0);
    z-index: -1;
    overflow: hidden;
    overflow: clip;
    background: #fff;
    @include u.fluid(padding-inline, 12, 0, 0, 0);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    transition:
        max-height 300ms ease-in-out,
        padding 300ms ease-in-out;

    @include u.sm() {
        position: static;
        display: flex;
        flex: 1;
        transform: translateY(0);
        align-items: center;
        overflow-y: auto;
        border-radius: 3rem;
        padding-inline: 0;
        max-height: none;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.navOpen {
    max-height: 20rem;
    @include u.fluid(padding-bottom, 20, 0, 0, 0);
    @include u.fluid(padding-top, 40, 0, 0, 0);
}

.navClosed {
    max-height: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    @include u.sm() {
        max-height: 20rem;
    }
}

.list {
    display: grid;
    place-content: center;
    @include u.fluid(gap, 15, 20, 29, 30);

    @include u.sm() {
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.btnWrapper {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    @include u.sm() {
      margin-top: 0;
    }
}

.planTitle {
    display: none;
    font-weight: 600;

    @include u.sm() {
        display: block;
    }
}
