.bg-loader {
    pointer-events: none;
    isolation: isolate;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
    overflow: clip;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.bg-loader__picture {
    display: block;
    transition: opacity 500ms ease-in-out;
    object-fit: cover;
    object-position: bottom right;
    width: 100%;
    height: 100%;
}

.bg-loader__picture--loading {
    opacity: 0;
}

.bg-loader__loading-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
    display: flex;
    height: 100%;
    max-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.bg-loader__loading-overlay--hidden {
    opacity: 0;
}

.bg-loader__skeleton {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    background-color: rgba(229, 231, 235, 0.5);
}

.bg-loader__image {
    display: block;
    object-fit: cover;
    object-position: bottom right;
    width: 100%;
    height: 100%;
}

.image-fit--cover {
    object-fit: cover;
}

.image-position--bottom-right {
    object-position: bottom right;
}

.image-size--full {
    width: 100%;
    height: 100%;
}
