@use 'core' as u;

.question-nav__button--next {
    transform: translateX(5%);
}

.question-nav__button {
    @include u.fluid(padding, 11, 11, 18, 18);
    border-radius: 50%;

    > svg {
        @include u.fluid(width, 22, 22, 36, 36);
        @include u.fluid(height, 22, 22, 36, 36);
    }
}

.question-nav__button--prev {
    transform: translateX(-5%);
}

.question-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
