@use 'core' as u;

.result-intro__description {
    text-align: center;
    @include u.fluid(margin-bottom, 50, 50, 80, 100);
}

.result-intro__summary {
    margin-inline: auto;
    background-color: u.clr('muted');
    @include u.fluid(padding, 18, 20, 50, 50);
    @include u.fluid(max-width, null, 606, 1135, 1536);
    border: 2px solid u.clr('primary');
    border-radius: 2rem;
}
