@use 'core' as u;

.scrollBtn {
    position: absolute;
    z-index: 10;
    inset: 0;
    margin: auto;
    height: fit-content;

    + * {
        filter: blur(18px);
    }
}

.hide {
    display: none;
}
