@use 'base/reset';
@use 'base/global';


@use '@/components/ui/Button/Button';
@use '@/pages/Home/partials/SliderNav/SliderNav';
@use '@/components/ui/BgLoader/BgLoader';
@use '@/components/ui/BgImage/BgImage';
@use '@/layouts/AppLayout/AppLayout';
@use '@/layouts/DialogLayout/DialogLayout';
@use '@/layouts/TestLayout/TestLayout';
@use '@/layouts/partials/AppFooter/AppFooter';
@use '@/layouts/partials/AppHeader/AppHeader';
@use '@/layouts/partials/AppSection/AppSection';
@use '@/components/ui/LazyImage/LazyImage';
@use '@/pages/Home/partials/HeroSection/HeroSection';
@use '@/layouts/partials/AppHeader/partials/Nav/Nav';
@use '@/components/ui/BurgerMenu/BurgerMenu';
@use '@/components/nav/NavLink/NavLink';
@use '@/pages/Home/partials/IntroSection/IntroSection';
@use '@/pages/Home/partials/IntroStep/IntroStep';
@use '@/pages/Home/partials/OutcomesSection/OutcomesSection';
@use '@/pages/Home/partials/OutcomesSlides/OutcomesSlides';
@use '@/pages/Home/partials/ReasonsSection/ReasonsSection';
@use '@/pages/Home/partials/Reasons/Reasons';
@use '@/pages/Home/partials/PlansSection/PlansSection';
@use '@/pages/Home/partials/Plans/Plans';
@use '@/components/forms/Checkbox/Checkbox';
@use '@/components/forms/ShowInputBtn/ShowInputBtn';
@use '@/components/forms/Input/Input';
@use '@/components/forms/InputError/InputError';
@use '@/components/forms/Label/Label';
@use '@/components/forms/PasswordInput/PasswordInput';
@use '@/layouts/FormLayout/FormLayout';
@use '@/components/forms/FormSection/FormSection';
@use '@/pages/shared/Login/Login';
@use '@/pages/shared/Signup/Signup';
