@use 'base/reset';
@use 'base/global';


@use '@/components/ui/Button/Button';
@use '@/pages/Home/Partials/SliderNav/SliderNav';
@use '@/components/ui/BgLoader/BgLoader';
@use '@/components/ui/BgImage/BgImage';
@use '@/layouts/AppLayout/AppLayout';
@use '@/layouts/DialogLayout/DialogLayout';
@use '@/layouts/TestLayout/TestLayout';
@use '@/layouts/Partials/AppFooter/AppFooter';
@use '@/layouts/Partials/AppHeader/AppHeader';
@use '@/layouts/Partials/AppSection/AppSection';
@use '@/components/ui/LazyImage/LazyImage';
@use '@/pages/Home/Partials/HeroSection/HeroSection';
@use '@/layouts/Partials/AppHeader/Partials/Nav/Nav';
@use '@/components/ui/BurgerMenu/BurgerMenu';
@use '@/components/nav/NavLink/NavLink';
@use '@/pages/Home/Partials/IntroSection/IntroSection';
@use '@/pages/Home/Partials/IntroStep/IntroStep';
@use '@/pages/Home/Partials/OutcomesSection/OutcomesSection';
@use '@/pages/Home/Partials/OutcomesSlides/OutcomesSlides';
@use '@/pages/Home/Partials/ReasonsSection/ReasonsSection';
@use '@/pages/Home/Partials/Reasons/Reasons';
@use '@/pages/Home/Partials/PlansSection/PlansSection';
@use '@/pages/Home/Partials/Plans/Plans';
