@import './base/reset';
@import './utils/sizing';
@import './constants/colors';
@import './base/global';
@import '@/pages/home/partials/reasons-section/reasons-section';

@import '@/pages/home/partials/SliderNav/SliderNav';
