@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        'Lato', 'Arial', 'Verdana', 'Tahoma', ui-sans-serif, system-ui,
        sans-serif, 'Apple Color Emoji';

    --breakpoint-xs: 22.5rem;
    --breakpoint-3xl: 110rem;

    --color-muted: oklch(0.9742 0.0122 276.1);
    --color-primary: oklch(0.925 0.1948 123.83);
    --color-primary-muted: oklch(0.922 0.2225 122.42);
    --color-foreground: oklch(0.3562 0 0);
    --color-muted-foreground: oklch(0.5513 0.0123 285.99);
}

@layer base {
    button {
        @apply cursor-pointer;
    }
}

.burger {
    transform-origin: center;
}

.burger-open {
    transition:
        translate 150ms ease-in,
        rotate 100ms ease-in 100ms;
}

.burger-close {
    transition:
        translate 150ms ease-in 100ms,
        rotate 200ms ease-in;
}

:root {
    --clr-neon: #ccfb55;
}

.neon-card:hover {
    outline: var(--clr-neon) 0.2em solid;
    box-shadow:
        inset 0 0 0.5em 0 var(--clr-neon),
        0 0 0.5em 0 var(--clr-neon);
}

.neon-card::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon-card:hover,
.neon-card:focus {
    text-shadow: none;
}

.neon-card:hover::after,
.neon-card:focus::after {
    opacity: 0.1;
}

.display-card {
    animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0.3;
    }
}
