@use 'core' as u;

.wrapper {
    @include u.fluid(height, 721, 423, 747, 1010);
    max-height: 90svh;
    position: relative;
    border-radius: 2rem;
    overflow: clip;
    @include u.fluid(padding, 20, 20, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
    @include u.fluid(font-size, 15, 15, 22, 26);
}

.icon {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    flex-shrink: 0;
    @include u.fluid(width, 31, 31, 62, 62);

    &:hover {
        opacity: 0.8;
    }
}

.btn {
    display: flex;
    align-items: end;
    transition: color 0.3s;
    @include u.fluid(gap, 10, 10, 15, 30);

    &:hover {
        color: black;
    }

    > span {
        @include u.md() {
            margin-bottom: 0.25em;
        }
    }
}

.bgImage {
    position: absolute;
    inset: 0;
}

.bgImageFit {
    object-position: center;
}

.bgImagePos {
    object-fit: cover;
}

.heading {
    text-align: center;
}

.arrow {
    width: 100%;
    height: 100%;
}

.arrowWrapper {
    @include u.fluid(width, 35, 35, 40, 40);
    display: block;
}
