.hero-section {
    position: relative;
    overflow-y: clip;
    isolation: isolate;
    @include fluid(height, 695, 416, 739, 985);
    @include fluid(padding-inline, 20, 25, 40, 50);
    @include fluid(margin-top, 20, 25, 40, 50);
    @include fluid(padding-bottom, 20, 25, 40, 50);

    @include sm() {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

    .background {
        @include fluid(inset, -20, 0, 0, 0);
        background-color: clr('muted');
        position: absolute;
        z-index: -5;
        border-radius: 2rem;
    }

    .content {
        @include fluid(padding-top, 127, 243, 551, 765);
    }

    .cta-button {
        margin-inline: auto;
        @include fluid(margin-top, 30, 0, 0, 0);
        @include fluid(padding-block, 10, 10, 20, 20);
        @include fluid(padding-inline, 70, 60, 125, 137);

        @include sm() {
            margin-inline: 0;
        }
    }
}

.description {
    @include fluid(width, 280, 338, 640, 703);
}

.title {
    @include fluid(max-width, 300, 338, 640, 703);
}

.fit {
    object-fit: contain;
}

.pos {
    object-position: right bottom;
}
