@use 'core' as u;

.result__layout {
    --layout-padding: 0;
    margin-inline: auto;
    max-width: u.$xl;
    @include u.fluid(--layout-padding, 0, 25, 35, 35);
    padding: var(--layout-padding);
}
