@use 'core' as u;
@use 'sass:color';

.outcomes-slides {
    width: 100%;
}

.outcomes-slides__header {
    display: block;
}

.outcomes-slides__lines {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    @include u.fluid(gap, 3, null, null, null);
    @include u.fluid(margin-bottom, 20, null, null, null);

    @include u.sm() {
        display: none;
    }
}

.outcomes-slides__line {
    @include u.fluid(height, 2, null, null, null);
    flex: 1;
    border-radius: 9999px;
    background-color: #d1d5db;
}

.outcomes-slides__line--active {
    background-color: u.clr('foreground');
}

.outcomes-slides__card {
    background-color: u.clr('muted');
    border-radius: 3rem;
    display: block;
    @include u.fluid(padding-inline, 20, 25, 60, 50);
    @include u.fluid(padding-top, 30, 60, 80, 100);
    @include u.fluid(padding-bottom, 30, 25, 35, 30);
    @include u.fluid(gap, null, 30, 40, 60);

    @include u.sm() {
        display: flex;
        align-items: flex-start;
    }
}

.outcomes-slides__card--no-right {
    border-top-right-radius: 0;
}

.outcomes-slides__card--no-left {
    border-top-left-radius: 0;
}

.outcomes-slides__content {
    @include u.fluid(margin-bottom, 32, 0, null, null);
}

.outcomes-slides__image {
    position: static;
    z-index: 5;
    @include u.fluid(width, 280, 400, 880, 1127);
    @include u.fluid(height, 549, 217, 416, 535);
    /* box-shadow: 5px 5px 10px rgba(black, 0.5); */
    border-radius: 2rem;
    flex-shrink: 0;
    overflow: clip;
}
