@use 'core' as u;

.card {
    background-color: u.clr('muted');
    border-radius: 2rem;
    @include u.fluid(font-size, 15, 15, 22, 26);
    @include u.fluid(padding-inline, 30, 20, 30, 50);
    @include u.fluid(padding-bottom, 22, 28, 35, 35);
    @include u.fluid(padding-top, 20, 30, 50, 50);

    @include u.sm() {
        grid-column: span 2 / span 2;
    }

    @include u.md() {
        grid-column: span 1 / span 1;
    }
}

.card:not(.cardDisabled) {
    transition-property: outline, scale;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.card:not(.cardDisabled):hover {
    scale: 1.03;
    outline: 3px solid u.clr('primary');
}

.title {
    color: u.clr('foreground');
    @include u.fluid(margin-bottom, 15, 15, 20, 20);
    @include u.fluid(font-size, 18, 18, 24, 29);
    text-align: center;
    font-weight: 700;
}

.duration {
    margin-bottom: 1.875rem;
    text-align: center;
}

.pricing {
    display: inline-flex;
    gap: 0.625em;
    user-select: none;
    @include u.fluid(margin-bottom, 20, 20, 30, 35);
}

.price {
    @include u.fluid(font-size, 33, 33, 44, 53);
    font-weight: 700;
}

.priceValue {
    color: u.clr('foreground');
}

.prevPrice {
    font-size: 1.1em;
}

.prevPriceWrapper {
    position: relative;
}

.prevPriceLine {
    position: absolute;
    transform-origin: center;
    rotate: -15deg;
    display: block;
    z-index: 5;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    height: 1.5px;
    background-color: u.clr('foreground-muted');
}

.description {
    @include u.fluid(min-height, 60, 60, 88, 104);
}

.button {
    margin-left: auto;
    margin-right: auto;
    @include u.fluid(margin-block, 30, 30, 50, 50);
}

.buttonDisabled {
    pointer-events: none;
    opacity: 0.5;
}

.perks {
    display: grid;
    @include u.fluid(gap, 20, 20, 20, 20);
}

.perk {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.perkIcon {
    flex-shrink: 0;
    @include u.fluid(margin-top, 2, 2, 2, 2);
    @include u.fluid(gap, 20, 20, 20, 20);
}

.perkText {
    flex: 1;
}
