@use 'core' as u;

html,
body {
    overflow-x: hidden;
    overflow-x: clip;
}

body {
    min-height: 100vh;
    color: u.clr('foreground-muted');
    font-family:
        'Lato', 'Arial', 'Verdana', 'Tahoma', ui-sans-serif, system-ui,
        sans-serif, 'Apple Color Emoji';
    @include u.fluid(font-size, 15, 15, 22, 26);
    line-height: 110%;
}

button {
    color: inherit;
    cursor: pointer;
}

h1,
h2 {
    color: u.clr('foreground');
}

h1 {
    font-weight: 600;
    @include u.fluid(font-size, 45, 45, 60, 72);
    @include u.fluid(line-height, 40, 40, 54, 65);
    @include u.fluid(margin-bottom, 20, 20, 31, 35);
}

h2 {
    font-weight: 600;
    line-height: 90%;
    @include u.fluid(font-size, 33, 33, 44, 53);
    @include u.fluid(margin-bottom, 20, 20, 30, 30);
}

