@use 'core' as u;

.nav-link {
    .link {
        cursor: pointer;
        margin: 0 auto;
        display: block;
        width: fit-content;
        font-weight: 700;
        color: u.clr('foreground');
        transition: color 0.2s ease;
        @include u.fluid(font-size, 13, 13, 17, 20);
    }

    .link:hover {
        color: u.clr('primary');
    }
}
