@use 'core' as u;
@use 'sass:color';

.test-layout {
    --layout-padding: 0;
    margin-inline: auto;
    max-width: u.$xl;
    @include u.fluid(--layout-padding, 0, 25, 35, 35);
    padding: var(--layout-padding);
}

.test-layout__body {
    position: relative;
    overflow: clip;
    border-radius: calc(sign(100cqi - 100%) * 2rem);
    @include u.fluid(padding, 20, 20, 50, 50);
    @include u.fluid(min-height, 721, 394, 740, 1045);
}

.test-layout__header {
    @include u.fluid(margin-bottom, 104, 54, 114, 233);
}

.test-layout__icon {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.8;
    }
}

.test-layout__btn {
    @include u.fluid(width, 31, 31, 62, 62);
}
