@use 'core' as u;

.reasons {
    @include u.fluid(margin-block, 50, 50, 80, 100);
    @include u.fluid(gap, 20, 15, 32, 32);
    display: grid;
    place-content: center;
    width: fit-content;
    margin-inline: auto;

    @include u.sm() {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include u.lg() {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.reasons__item {
    position: relative;
    isolation: isolate;
    display: flex;
    aspect-ratio: 1 / 1;
    max-width: 20rem;
    align-items: flex-end;
    justify-content: center;
    overflow: clip;
    border-radius: 2rem;
    @include u.fluid(padding, 20, 20, 30, 50);
    color: white;
    transition-property: scale, outline;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.reasons__item:hover {
    scale: 1.05;
}

.reasons__item--left {
    margin-left: auto;

    @media (min-width: 1280px) {
        margin-left: 0;
    }
}

.reasons__item--right {
    margin-right: auto;

    @media (min-width: 1280px) {
        margin-right: 0;
    }
}

.reasons__image {
    position: absolute;
    inset: 0;
    z-index: -5;
}

.reasons__overlay {
    position: absolute;
    inset: 0;
    z-index: -5;
    display: block;
    background: linear-gradient(to top, rgb(0 0 0 / 0.4), transparent);
}

.reasons__description {
    position: relative;
    @include u.fluid(font-size, 15, 15, 22, 26);
}
