@use 'core' as u;

.BurgerMenu {
    @include u.fluid(width, 28, 0, 0, 0);
    @include u.fluid(margin-left, 16, 0, 0, 0);
    z-index: 5;
    transition: transform 150ms ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    transform-origin: center;

    .burger-open {
        transition:
            translate 150ms ease-in,
            rotate 100ms ease-in 100ms;
    }

    .burger-close {
        transition:
            translate 150ms ease-in 100ms,
            rotate 200ms ease-in;
    }

    .icon {
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    .line {
        transition: transform 150ms ease-in;
    }

    .line-top {
        transform: translateY(-9px);
    }

    .line-bottom {
        transform: translateY(9px);
    }

    .line-top-open {
        transform: translate(15px, -7px) rotate(45deg);
    }

    .line-bottom-open {
        transform: translate(-11px, 18px) rotate(-45deg);
    }

    .line-middle {
        transition: opacity 150ms ease-in;
    }

    .hidden {
        opacity: 0;
    }

    @include u.sm() {
        display: none;
    }
}
