@use 'core' as u;

.wrapper {
}

.heading {
    @include u.fluid(margin-bottom, 50, 52, 80, 100);
}

.grid {
    display: grid;
    @include u.fluid(gap, 30, 30, 80, 80);
}

.chartTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include u.fluid(font-size, 18, 18, 24, 29);
    @include u.fluid(margin-bottom, 20, 20, 50, 50);
}

.chartItem {
    position: relative;
}

.chartWrapper {
    display: block;
}

.title {
    font-weight: 700;
    color: black;
    font-size: inherit;
    max-width: 70%;
}
