.app-footer {
    @include fluid(margin-inline, 20, 25, 35, 35);
    @include fluid(margin-bottom, 20, 25, 35, 35);
    @include fluid(padding, 20, 25, 30, 30);
    @include fluid(font-size, 13, 13, 17, 20);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 1px solid clr('foreground');
    border-radius: 3rem;
    font-weight: 700;

    @include sm() {
        align-items: center;
        justify-content: flex-start;
        border-radius: 4rem;
    }
}

.app-footer__copyright {
    color: clr('foreground');
    @include fluid(font-size, 13, 13, 17, 20);
}

.app-footer__nav {
    @include sm() {
        margin: 0 auto;
    }
}

.app-footer__nav-list {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 15, 15, 30, 30);

    @include sm() {
        flex-direction: row;
        align-items: center;
    }
}

.app-footer__nav-link {
    margin-right: 0 !important;
    text-align: right;
}

.app-footer__placeholder {
    display: none;
    @include fluid(width, 100, 100, 120, 120);

    @include sm() {
      display: block;
    }
}
