@use 'core' as u;

.password-input {
    position: relative;
}

.password-input__field {
    display: flex;
    height: 3rem;
    width: 100%;
    min-width: 0;
    border-radius: 9999px;
    background-color: rgb(229 231 235);
    padding: 0.25rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    transition-property: color, box-shadow;
    outline: none;
}

.password-input__field::placeholder {
    color: rgb(107 114 128);
}

.password-input__field:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.password-input__field:focus-visible {
    border-color: var(--ring);
    box-shadow: 0 0 0 1px rgb(75 85 99 / 0.2);
}

.password-input__field[aria-invalid='true'] {
    border-color: rgb(220 38 38);
    box-shadow: 0 0 0 1px rgb(220 38 38 / 0.2);
}
