@use 'core' as u;

.question__layout {
    background-color: u.clr('muted');
}

.question__heading {
    text-align: center;
    @include u.fluid(margin-bottom, 40, 40, 80, 80);
}

.question__btn-wrapper {
    @include u.fluid(gap, 15, 20, 35, 35);
    @include u.fluid(margin-bottom, 178, 31, 84, 129);
}

.question__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question__nav-button {
    @include u.fluid(padding, 11, 11, 18, 18);
    border-radius: 50%;

    > svg {
        @include u.fluid(width, 22, 22, 36, 36);
        @include u.fluid(height, 22, 22, 36, 36);
    }
}
